/* Reset margin */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* import fonts */

@font-face {
    font-family: "titillium-bold";
    src: url(../assets/fonts/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: "titillium-black";
    src: url(../assets/fonts/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(../assets/fonts/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "titillium-regular" ;
    src: url(../assets/fonts/TitilliumWeb-Regular.ttf);
}

/**** CLASSES GENERICAS ****/

/* layout grid */
.layout-grid {
    width: 90%;
    margin: 0 auto;

}

/* alinhamento  */
.align-itens-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 49px;
}

.mostrar-menu {
    left: 0px !important;
    
}

.mostrar-usuarios {
    right: 0px !important;
}




/* MOBILE FIRST */
body {
    color: #FFFF;
    
}




/**** HEADER ****/

header {
    height: 60px;
    background-color: #1b1426;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    z-index: 20;
}




/**** HEADER TOP ****/

header .header-top {
    /* ocultando o header top*/
    display: none;
    align-items: center;
    
}




/**** HEADER BOTTOM ****/
header .header-bottom {
    height: 60px;
    display: flex;
    align-items: center;
}

header .header-bottom img.logotipo {
    width: 86px;

}

header .header-bottom .menu {
    /* menu left*/
    position: fixed;
    z-index: 21;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: calc(100vh - 60px);
    
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    
    transition: left 0.7s;
    
}

/* Somente links "filhos diretos" com este sinal de maior ">" */
header .header-bottom .menu>a {
    font-family: inter;
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    border-bottom: 2px solid #F9AA01;
    padding: 30px 0px;
    text-align: center;
}

header .header-bottom .menu>a:last-of-type {
    border: none;
}

header .header-bottom .menu>a:hover {
    background-color: #F9AA01;
    font-weight: bold;
}

header .header-bottom .midias-socias {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-top: 35px;
}


header .header-bottom .menu-usuarios {
    /* menu right*/
    z-index: 22;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;
    
    position: fixed;
    top: 60px;
    right: -106px;
    width: 75px;
    height: 173px;
    
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    transition: right 0.7s;
}




/***** MAIN *****/
main {
    margin-top: 60px
}




/**** LIGA GAMERS ****/
.banner {
    height: 606px;
    width: 100%;
    background-image: url(../assets/images/banner\ liga\ gamers\ mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 450px;
}

.banner h1 {
    font-size: 40px;
    font-family: "titillium-black";
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 5px 25px #fd4255;
}

.banner button {
    width: 171px;
    height: 40px;
    font-family: "titillium-bold";
    background-color: #F9AA01;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    text-transform: capitalize;
}




/**** SECTION JOGOS ****/

.background-jogos {
    background-color: #1B1426;
    height: 591px;
    width: 100%;
}

.jogos {
    height: 591px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    
}




/**** SECTION TIME PROGRAMER ****/

/* background and height programer */
.progamer {
    background-color: #F9AA01;
    height: 1535px;
    width: 100%;
}

/* linha abaixo do texto */
#line {
    width: 205px;
    border: 2px solid black;
}


/* titulo principal programer */
#h2-programer {
    font-family: "titillium-black";
    text-transform: uppercase;
    font-size: 18px;
    color: black;
    padding-top: 73px;
    padding-bottom: 35px;
}

/* para alinhamento da linha e o titulo */
#align-line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* box purple */
.box-purple {
    border: 1px solid transparent;
    border-image-source: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    border-image-slice: 1;
    
    background-image: 
    /* efeito aplicado ao ao box a partir do padding */
        linear-gradient(to right bottom, rgba(228, 228, 228,1), rgba(228, 228, 228,0.3)) padding-box,
    /* efeito aplicado apenas na borda */
        linear-gradient(to right bottom, rgba(255, 255, 255,1), rgba(255, 255, 255,0)) border-box;
    
    
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    
    background-image: linear-gradient(to right bottom, rgba(122, 49, 236, 0.2), rgba(47, 07, 109, 0.8));
    backdrop-filter: blur(15px);
    border-radius: 8px;
    
    width: 231px;
    height: 300px;
    
    position: relative;
    left: 105px;
    bottom: 385px;
}

/* posicao da segunda box purple */
#position-box{
    position: relative;
    left: 0px;
    bottom: 300px;
}


/* titulo box purple */
.h2-white {
    font-family: "titillium-black";
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    margin-top: 20px;
}

/* paragrafo box purple */
.paragrafo {
    font-family: quicksand;
    color: white;
    font-size: 13px;
    text-transform: capitalize;
    padding: 20px 30px;
    text-align: start;
    
}

/* image yellow girl */
#yellow-girl{
    margin-top: 90px;
}





/**** NOTICIAS ****/

/* imagem de fundo section noticias */
#background-img-noticias{
    background-image: url(../assets/images/backgrund_notícias.svg);
    height: 3645px;
}

/* titulo noticias */
#noticias-h2{
    font-family: "titillium-black" ;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 35px 0px;
}

/* borda de baixo do titulo noticias */
#hr-noticias{
    width: 204px;
    border: 2px solid #F9AA01;
    margin-bottom: 125px;
}

/* alinhamento borda e titulo */
#align-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* box noticias */
.box-noticias{
    width: 335px;
    height: 387px;
    border-radius: 8px;
    background-image: linear-gradient(to right bottom, rgba(29, 26, 52, 0.3), rgba(5, 1, 12, 0.8));
    backdrop-filter: blur(6px);
}

/* dimensao do tamanho da imagem box noticias */
#img-box{
    width: 100%;
    height: 43%;
    border-radius: 8px;
}

/* alinhamento da box noticias */
.align-box-noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.h3-noticias{
    font-family: "titillium-bold";
    font-size: 24px;
    padding: 5px 25px;
}

.p-noticias{
    padding: 20px;
    font-family: quicksand;
    font-size: 16px;
    text-align: justify;
}









/**** FOOTER ****/

footer {
    padding-top: 90px;
    padding-bottom: 40px;
    background-image: url(../assets/images/background-footer.png);
    box-shadow: inset 0px 30px 500px rgba(0, 0, 0, 1);

}

footer .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1530px;
}

/* Titulos Contatos/Links Uteis /Newsletter */
footer .titulos-footer {
    font-size: 30px;
    font-family: "titillium-black";
    margin-bottom: 45px;

}

/* cor e tamanho da linha abaixo dos titulos */
footer .color-hr {
    border: 3px solid #F9AA01;
    width: 112px;
}




/* SOBRE E LOGO */
footer #sobre {
    height: 304px;
    width: 100%;
    padding: 15px 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

footer #sobre>img {
    width: 110px;
    height: 32px;
}

footer #sobre p {

    text-align: center;
    font-family: quicksand;
    font-size: 14px;
}

/* ajuste de espacamento das redes sociais */
footer #midias-sociais-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}






/* LINKS UTEIS */
/* cria a linha laranja antes dos links */
footer .footer-top .menu-footer a:before {
    content: "\2015";
    margin-right: 10px;
    color: #F9AA01;

}

footer .menu-footer {
    display: flex;
    flex-wrap: wrap;

}





/**** CONTATOS *****/
/* titulos dos contatos */
footer .contatos-titulos {
    font-family: "titillium-bold";
    font-size: 16px;
    color: #F9AA01;

}

footer #contatos p {
    font-family: "titillium-bold";
    font-size: 16px;
    color: white;
}

footer #contatos {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


footer .footer-top li {
    list-style-type: none;
    width: 110px;
    margin-bottom: 20px;
}


footer .menu-footer a {
    text-decoration: none;
    color: white;
    font-family: "titillium-bold";
    font-size: 16px;
}





/**** NEWSLETTER ****/
footer .footer-top #newsletter input {
    border: 1px solid white;
    border-radius: 8px;
    width: 333px;
    height: 40px;
    background-color: transparent;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1));
    backdrop-filter: blur(6px);
    margin-bottom: 15px;
}

footer .footer-top #newsletter button {
    background-color: #F9AA01;
    color: black;
    font-family: "titillium-bold";
    font-size: 24px;
    border: none;
    border-radius: 8px;
    width: 333px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 162px;
}

footer #newsletter input::placeholder {
    font-family: "titillium-regular";
    font-size: 16px;
    color: white;
    padding-left: 18px;
}




/* COPYRIGHT E BOTAO TOPO */

#button-top {
    margin-left: 290px;
}

footer .footer-bottom p {
    font-family: "titillium-regular";
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0px 30px 0px;
}






















/* Tablets >= 768px */
@media screen and (min-width: 768px) {}

/* Desktops >= 1200px */
@media screen and (min-width: 1200px) {
    .layout-grid {
        width: 100%;
        max-width: 1200px;

        /* border: 3px dotted yellowgreen; */
    }




    /**** HEADER ****/
    header {
        position: static;
        height: 140px;
    }




    /* HEADER TOP */

    header .header-top {
        display: block;
        flex-direction: row;
        height: 50px;
        align-items: center;
    }

    /* contatos email/telefone */

    header .header-top .contatos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 420px;
        font-family: inter;
        font-size: 14px;
        align-items: center;
    }

    header .header-top .contatos>div {
        display: flex;
        align-items: center;
        gap: 10px;
        align-items: center;
    }

    /* MIDIAS SOCIAIS */
    header .header-top .midias-socias {
        width: 120px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }




    /* OCULTANDO NO DESKTOP*/
    header .header-bottom .midias-socias,
    header .menu-hamburguer,
    header .header-bottom img.menu-pontinhos,
    header .header-bottom .phone,
    header .header-bottom .email {
        display: none;
    }




    /* HEADER BOTTOM */
    header .header-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 90px;
        padding: 15px;
        border-top: 1px solid #F9AA01;

    }

    header .header-bottom .menu {
        position: static;
        height: 50px;
        width: 450px;
        flex-direction: row;
        background-color: transparent;
        justify-content: space-between;
        border-bottom: none;
        align-items: center;

    }



    /* BOX RIGHT */
    header .header-bottom .menu-usuarios {
        position: static;
        flex-direction: row;
        width: 120px;
        height: 50px;
        background-color: transparent;
        justify-content: space-between;

    }

    /* LINKS DO HEADER */
    header .header-bottom .menu>a {
        border: none;
        padding: 0px;
        margin: 0px;
        font-size: 14px;
        transition: 0.4s;
    }

    header .header-bottom .menu>a:hover {
        color: #F9AA01;
        font-weight: bold;
        background-color: transparent;

    }

    /* IMAGEM LOGOTIPO HEADER */
    header .header-bottom img.logotipo {
        width: 200px;
    }





    /**** MAIN ****/

    /**** LIGA GAMERS BANNER ****/

    main {
        margin-top: 0px;
    }

    .banner {
        background-image: url(../assets/images/banner\ liga\ gamers\ desktop.png);

        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
        height: 722px;
    }

    .banner h1 {
        margin-top: 75px;
        font-size: 80px;
    }

    .banner button {
        width: 205px;
        margin-bottom: 150px;
    }




    /**** SECTION JOGOS ****/

    .background-jogos {
        height: 500px;
    }

    .jogos {
        height: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .img-jogos {
        height: 313px;
        width: 556px;
    }

}