/* Reset margin */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* import fonts */

@font-face {
    font-family: "titillium-bold";
    src: url(../assets/fonts/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: "titillium-black" ;
    src: url(../assets/fonts/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(../assets/fonts/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/* CLASSES GENERICAS */

/* layout grid */
.layout-grid {
    border: 1px solid greenyellow;
    width: 90%;
    margin: 0 auto;
    
}

/* alinhamento  */
.align-itens-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MOBILE FIRST */
body{
    background-color: #1b1426;
}

/* HEADER */
header {
    height: 60px;
}

/* HEADER TOP */
 header .header-top{  /* ocultando o header top*/
    display: none;

}

header .header-bottom .menu { /* menu left*/
    position: fixed;
    top: 60px;
    left: 0;
    width: 80vw;
    height: calc(100vh- 60px);

    display: flex;
    flex-direction: column;
    border: 1px solid greenyellow;
}

header .header-bottom .menu-usuarios{ /* menu right*/
    display: none;
}

/* HEADER BOTTOM */
header .header-bottom{
    height: 100%;
}
header .header-bottom img.logotipo{
    width: 86px;

}